* {
    background-color: #212121;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    transition: background-color 1s linear;
}

div {
    width: 250px;
    display: flex;
    justify-content: space-between;
    transition: background-color 1s linear;
}

div button {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px; 
    background-color: white;
    color: black;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

h1 {
    transition: background-color 1s linear;
}