* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(90, 85, 190);
}

.container {
    width: 400px;
    min-height: 160px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    
}

.heading {
    font-weight: 600;
    margin-bottom: 15px;
}

.quoteArea {
    margin-bottom: 20px;
}

.quote {
    display: inline-block;
    font-style: italic;
    line-height: 1.5;
    color: #2c2828;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

ul li {
    margin: 0 5px;
}

ul li button {
    background-color: rgb(228, 228, 228);
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

ul li button:hover {
    /* background-color: #ffffff; */
    box-shadow: 0 0 10px rgba(0, 0,0, 0.1); 
}

ul li button i {
    font-size: 20px;
}

.btn {
    background-color: rgb(228, 228, 228);
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.btn:hover {
    box-shadow: 0 0 10px rgba(0, 0,0, 0.1); 
}
