body {
    background-color: #212121;
    color: white;
    font-family: serif;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40vh;
    margin-bottom: 15PX;
}

.clock {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 149, 0);
    border-radius: 5px;
    margin: auto;
    width: 100px;
    height: 20px;
    padding: 10px;
}